/* tailwind directives */

@tailwind base;
@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply text-[color:var(--accent-secondary)] mb-5;
        font-family: "font-heading";
        font-variation-settings: 'wght' 500;
    }
    h1, h2 { @apply text-6xl }
    h3 { @apply text-5xl }
    h4 { @apply text-4xl }
    h5 { @apply text-3xl }
    h6 { @apply text-2xl }
    p { @apply mt-3 text-normal }
    a { @apply hover:cursor-pointer hover:text-[color:var(--neutral-text-hover)] }
};
@tailwind components;
@tailwind utilities;

/* font declarations */

@font-face {
    font-family: "font-heading";
    src: url("./assets/thirdparty/font-SpaceGroteskV.woff2") format("woff2");
    font-weight: 400;
    font-style:   normal;
    font-display: swap;
}

@font-face {
    font-family: "font-text";
    src: url("./assets/thirdparty/font-iAWriterQuattroS.woff2") format("woff2");
    font-weight:  400;
    font-style:   normal;
    font-display: swap;
}

@font-face {
    font-family: "font-text";
    src: url("./assets/thirdparty/font-iAWriterQuattroV-Italic.woff2") format("woff2");
    font-weight:  400;
    font-style:   italic;
    font-display: swap;
}

html, body {
    height: 100%
}

/* light/dark theming */

:root {
    /* --accent-primary:         hsl(257 64% 41%);   pantone 2098 c */
    --accent-primary:         hsl(255 47% 50%);   /* pantone 2097 c */
    --accent-secondary-light: hsl(256 35% 47%);   /* pantone 2096 c */
    --accent-secondary-dark:  hsl(256 33% 55%);   /* pantone 2095 c */
    --neutral-light:          hsl(224 100% 98%);  /* pantone 11-0700 tcx */
    --neutral-light-hover:    hsl(260 24% 68%);   /* pantone 2093 c */
    --neutral-dark:           hsl(240 8% 7%);     /* pantone black 3 2x */
    --neutral-dark-hover:     hsl(256 33% 55%);   /* accent secondary dark */
}

.theme {
    @apply
        min-w-full min-h-full
        text-[color:var(--neutral-text)]
        bg-[color:var(--neutral-bg)];
    ;

    /* default theme to light */
    --accent-secondary:   var(--accent-secondary-light);
    --neutral-text:       var(--neutral-dark);
    --neutral-text-hover: var(--neutral-dark-hover);
    --neutral-bg:         var(--neutral-light);
}

.toggle-dark:checked ~ .theme {
    --accent-secondary:   var(--accent-secondary-dark);
    --neutral-text:       var(--neutral-light);
    --neutral-text-hover: var(--neutral-light-hover);
    --neutral-bg:         var(--neutral-dark);
}

.toggle-light:checked ~ .theme {
    --accent-secondary:   var(--accent-secondary-light);
    --neutral-text:       var(--neutral-dark);
    --neutral-text-hover: var(--neutral-dark-hover);
    --neutral-bg:         var(--neutral-light);
}

.label-light, .label-dark { @apply hidden select-none hover:cursor-pointer text-normal }

@media (prefers-color-scheme: dark) {
    .label-light { display: unset }
    .label-dark { display: none }

    .theme {
        /* change default theme to dark */
        --accent-secondary:   var(--accent-secondary-dark);
        --neutral-text:       var(--neutral-light);
        --neutral-text-hover: var(--neutral-light-hover);
        --neutral-bg:         var(--neutral-dark);
    }
}

@media (prefers-color-scheme: light) {
    .label-dark { display: unset }
    .label-light { display: none }
}

.toggle-dark, .toggle-light {
    @apply
        w-[1px] h-[1px] m-[-1] p-[0]
        absolute overflow-hidden whitespace-nowrap
        text-[color:var(--neutral-text)]
    ;
    clip: rect(0 0 0 0);
    border: 0;
}

.label-dark::before { content: "go dark" }
.toggle-dark:checked ~ .theme .label-dark::before { content: "go light" }
.label-light::before { content: "go light" }
.toggle-light:checked ~ .theme .label-light::before { content: "go dark" }

/* always used css */

.text-normal {
    /* @apply ... */
}

.text-footer {
    @apply text-sm;
    font-family: "font-heading";
}

.icon {
    @apply fill-[color:var(--neutral-text)] hover:fill-[color:var(--neutral-text-hover)];
}

.bookmark {
    @apply
        flex flex-col justify-start
        px-8
        !text-[color:var(--neutral-light)]
        bg-[color:var(--accent-primary)]
        basis-3/12
    ;
    font-family: "font-heading";
}

.bookmark-quicklinks {
    @apply
        h-[32%]
        bg-[color:var(--accent-primary)]
        static z-20
        text-right
    ;
    padding-top: calc(5rem - 0.75em);
}

.bookmark h2 {
    @apply !text-[color:var(--neutral-light)]
}

.bookmark-quicklinks a,
.bookmark-quicklinks label {
    @apply hover:text-[#c7c9d0]
}

.bookmark-headers {
    @apply pb-20 min-w-max;
    min-height: calc(100% - 32%);
    font-variation-settings: 'wght' 500;
    writing-mode: vertical-rl;
}

.content {
    @apply py-20 px-16 pr-12 grow z-10;
}

/* optionals */

.quote:first-letter {
    margin-left: -0.54em;
}
