@tailwind base;
@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply text-[color:var(--accent-secondary)];
        font-family: "font-heading";
    }
    h1, h2 { @apply text-6xl }
    h3 { @apply text-5xl }
    h4 { @apply text-4xl }
    h5 { @apply text-3xl }
    h6 { @apply text-2xl }
    p { @apply mt-3 text-lg }
};
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "font-heading";
    src: url("./assets/thirdparty/font-SpaceGroteskS.woff2") format("woff2");
    font-weight: 700;
    font-style:   normal;
    font-display: swap;
}

@font-face {
    font-family: "font-text";
    src: url("./assets/thirdparty/font-iAWriterQuattroV.woff2") format("woff2");
    font-weight:  400;
    font-style:   normal;
    font-display: swap;
}

@font-face {
    font-family: "font-text";
    src: url("./assets/thirdparty/font-iAWriterQuattroV-Italic.woff2") format("woff2");
    font-weight:  400;
    font-style:   italic;
    font-display: swap;
}

:root {
    --accent-primary:         hsl(257 64% 41%);   /* pantone 2098 c */
    /* --accent-primary:         hsl(255 47% 50%);   pantone 2097 c */
    --accent-secondary-light: hsl(256 35% 47%);   /* pantone 2096 c */
    --accent-secondary-dark:  hsl(256 33% 55%);   /* pantone 2095 c */
    --neutral-light:          hsl(224 100% 98%);  /* pantone 11-0700 tcx */
    --neutral-dark:           hsl(240 8% 7%);     /* pantone black 3 2x */

}

.theme {
    @apply
        p-8 min-w-full min-h-screen
        text-[color:var(--neutral-text)]
        bg-[color:var(--neutral-bg)];
    ;

    /* default theme to light */
    --accent-secondary: var(--accent-secondary-light);
    --neutral-text:     var(--neutral-dark);
    --neutral-bg:       var(--neutral-light);
}

.toggle-dark:checked ~ .theme {
    --accent-secondary: var(--accent-secondary-dark);
    --neutral-text:     var(--neutral-light);
    --neutral-bg:       var(--neutral-dark);
}

.toggle-light:checked ~ .theme {
    --accent-secondary: var(--accent-secondary-light);
    --neutral-text:     var(--neutral-dark);
    --neutral-bg:       var(--neutral-light);
}

.label-light, .label-dark { @apply hidden text-[color:var(--neutral-text)] }

@media (prefers-color-scheme: dark) {
    .label-light { display: unset }
    .label-dark { display: none }

    .theme {
        /* change default theme to dark */
        --accent-secondary: var(--accent-secondary-dark);
        --neutral-text:     var(--neutral-light);
        --neutral-bg:       var(--neutral-dark);
    }
}

@media (prefers-color-scheme: light) {
    .label-dark { display: unset }
    .label-light { display: none }
}

.toggle-dark, .toggle-light {
    @apply
        w-[1px] h-[1px] m-[-1] p-[0]
        absolute overflow-hidden whitespace-nowrap
        text-[color:var(--neutral-text)]
    ;
    clip: rect(0 0 0 0);
    border: 0;
}

.label-dark, .label-light {
    margin-bottom: 1em;
 }

.label-dark::before {
    content: "go dark";
}

.toggle-dark:checked ~ .theme .label-dark::before {
    content: "go light";
}

.label-light::before {
    content: "go light";
}

.toggle-light:checked ~ .theme .label-light::before {
    content: "go dark";
}
